@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-image: url('img/2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.;
    overflow: hidden;
}

.background{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.733);
    width: 100%;
    
    
}

#contador {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;

    
 
 
 
 
}

#contador .item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    margin-right: 10px;
    font-weight: bold;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 20px #ffffff;
    background-color: transparent;
    text-shadow: 0px 0px 30px #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    color: #fff;
     margin-bottom: 500px;
     text-align: center;
    
    
}


h1{
    color: #fff;
    text-align: center;
    margin-top: 200px;
    font-family: 'Poppins';
    text-shadow: 0px 0px 20px #fff;
    
}

@media (min-width: 768px){
    body{
        background-image: url('img/4.gif');
        background-size: cover;
        width: 100%;
        overflow: hidden;
    }
}
    @media (min-width: 1200px){
    body{
        background-image: url('img/3.gif');
        background-size: cover;
        width: 100%;
        overflow: hidden;
    }



}
@media (max-width: 768px){
    body{
    background-image: url('img/hoho.gif');
    background-size: cover;
    overflow: hidden;

    
}


#contador .item{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
    font-weight: bold;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 19px #ffffff;
    background-color: transparent;
    text-shadow: 0px 0px 29px #ffffff;
    padding: 20px 10px;
    border-radius: 10px;
    color: #fff;
     margin-bottom: 500px;
     text-align: center;
    
    
}

}